/node_modules
.DS_Store
/.yalc
/yalc.lock
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.hass/config/www/home-assistant-secret-taps-plugin.js
.hass/config/www/secret-taps.yaml
/.nyc_output
/coverage
/.env
